@media only screen and (min-width: 1200px) {
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 9 rem;
        scroll-behavior: smooth;
    }

    .main-container{
        width: 90%;
        background: var(--background);  
    }
    
    .content-container{
        width: 90%;
        background: var(--pistache);
    }

    #decoration__stripLeft, #decoration__stripRight {
        width: 10vw;
    }


    /*
    Navigation bar
    *********************
    */
    .header{
        padding: 0 7%;
    }

    .header .navbar a{
        margin: 0 1rem;
        font-size: 1.6rem;
    }
}
