/*
General layout stuff
*********************
*/
html{
    font-size: 55%;
}
/*
*********************
Navigation bar*/
.header{
    background: var(--iceCreamCone);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo{
    height: 6rem;
}

.header .navbar .button{
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    background: var(--background);
    opacity: 1;
    font-size: 2rem;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    white-space: normal;
}

.header .navbar .button:hover {
    background-color: var(--pistache);
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--pistache);
}

/*
*********************
side bar*/
#decoration {
    height: 100%;
    display: none;
}
/*
Main content
*/
.main{
    margin: 9rem;
    min-height: 100vh;
    align-items: center;
    background-color: var(--background);
}

.main .introduction{
    align-items: center;
    justify-content: center;
    display: flex;
}

.main .introduction article{
    max-width: 60rem;
}

.main .introduction article h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
}

/*
Card layout
******************
*/
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.card-container .card{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--pistache);
}

.card-container .card img{
    height: 10rem;
}

#form__submitButton {
    font-size: 30px;
}

/**
Row layout
*/

.row-container{
    display: flex;
    justify-content: center;
}

.row-container h3{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color:#fff;
}

.row-container .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

.row-container .row .visual{
    flex:1 1 45rem;
}

.row .content{
    flex:1 1 45rem;
    padding: 2rem;
}

.row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}





/*
*********************
Footer styling
*/
footer {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    background-color: #FBAA76 !important;
    position: relative;
}

.footerList {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    height: 50px;  
}

.header, footer {
    background-image: url("../rhombus-background.png");
    background-repeat: repeat-xy;
    background-size: 5vmin 5vmin;
}

