/*
General layout stuff
*********************
*/
html{
    font-size: 55%;
}

.main{   
    margin: 9rem 1rem;
    min-height: 100vh;
    align-items: center;
    background-color: var(--background);
    padding: 1px;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--background);
    padding: 1px;
}

.content-container{
    width: 100%;
    margin: 2rem 0rem;
    padding: 1px;
    background: var(--pistache);
}
/*
*********************
Navigation bar*/

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.header{
    background: var(--iceCreamCone);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo{
    height: 6rem;
}

.header .navbar .button{
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    background: rgb(0, 0, 255);
    color: yellow;
    opacity: 1;
    font-size: 2rem;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    word-wrap: keep-all ;
    white-space: nowrap;
}

.header .navbar .button:hover {
    background-color: rgb(0, 255, 255);
    color: red;
}

.header .navbar .button:not(:hover) {
    transition: .2s linear;
}


.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--pistache);
}

/*
*********************
side bar*/
#decoration {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#decoration__stripLeft, #decoration__stripRight {
    width: 10vmin;
}

/*
Main content
*/


.content-container .introduction{
    align-items: center;
    justify-content: center;
    display: flex;
}

.content-container .introduction article{
    max-width: 60rem;
}

.content-container .introduction article h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
}

/*
Card layout
******************
*/
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.card-container .card{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--pistache);
}

.card-container .card img{
    height: 10rem;
}

#form__submitButton {
    font-size: 30px;
}

.textbox{
    text-align: center;
    word-break: normal;
    white-space: normal;
    color: black;
    background: var(--iceCreamCone);
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 100%;
}

.textbox p{
    text-align: center;
    word-break: normal;
    white-space: normal;
    width: 100%;
}
/**
Row layout
*/

.row-container h3{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color:#fff;
}

.row-container h5{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color:#fff;
}
.row-container .row{
    display: flex;
    color: rgb(0, 229, 255);
    align-items: center;
    flex-wrap: wrap;
}

.row-container .row .visual{
    display: flex;
    justify-content: center;
    flex: 1 1 30rem;
    min-width: 45rem;
}

.row-container .row .visual img{
    max-width: 100%;
    height: auto;
}

.row-container .row .content{
    flex: 1 1 30rem;
    padding: 2rem;
    white-space: nowrap;
    min-width: 45rem;
}

.row-container .row .content p{
    text-align: center;
    white-space: n  owrap;
    color: black;
}

.row .content h3{
    word-wrap: break-word;
}

.row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}


/*
Responsive Table
*/
.table-wrapper{
    overflow: auto;
}


/*
*********************
Footer styling
*/

/*Social icons styling*/
.fa {
    padding: 1rem;
    font-size: 2rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

/* footer bar styling */
footer {
    background-color: #FBAA76 !important;
    -webkit-text-stroke: 1px black;
    color: yellow;
    font-size: 25px;
    font-weight: bold;
}

.footercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footercontainer .copyright {
    margin-left: 1rem;
}

.footercontainer .socials{
    display: block;
    width: 100%;
}

.footerList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    word-wrap: keep-all ;
    white-space: nowrap;
}

.header, footer {
    background-image: url("../rhombus-background.png");
    background-repeat: repeat-xy;
    background-size: 5vmin 5vmin;
}

