@import "mobile.css";
@import "desktop.css";
@import "tablet.css";

#title {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 3px red;
    color: yellow;
}

#introduction {
    color: rgb(0, 255, 0);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-size: 3px;
    border-radius: 5px;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
    font-size: 24px;
}
