@import "mobile.css";
@import "desktop.css";
@import "tablet.css";

@keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

body {
    position: relative;
    height: max-content;
    display: block;
    margin: 0;
}

#title {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 3px red;
    color: yellow;
}

#introduction {
    align-self: stretch;
    color: rgb(0, 255, 0);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: blue;
    border-style: dashed;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
    font-size: 24px;
}

.rainbow-animation {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    text-fill-color: transparent;
    font-size: 80px;
    animation: rainbow 20s infinite;
    text-shadow: 2px 2px 8px #000000;
}
