@media only screen and (min-width: 768px) {

    .main{
        margin-left: 5vw;
        max-width: 90vw;
    }

        /*
    *********************
    side bar*/
        #decoration {
        height: 100%;
        display: block;
    }

    #decoration__stripLeft, #decoration__stripRight {
        position: absolute;
        background-color: pink;
        width: 5vw;
        height: 100%;
        z-index: -1;
        background-image: url("../logo.png");
        background-repeat: repeat-xy;
    }

    #decoration__stripRight {
        right: 0px;
    }
    
}
