@media only screen and (min-width: 768px) {
    .main-container{
        width: 100%;
        background: var(--background);
    }
    
    .content-container{
        width: 90%;
        background: var(--pistache);
    }

        /*
    *********************
    side bar*/
    #decoration {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #decoration__stripLeft, #decoration__stripRight {
        position: absolute;
        background-color: pink;
        width: 5vw;
        z-index: -1;
        height: 100%;   
        background-image: url("../logo.png");
        background-repeat: repeat-xy;
    }

    #decoration__stripLeft{
        left: 0px;
    }

    #decoration__stripRight {
        right: 0px;
    }
    
}
