.general {
    display:flex;
    width:90% ;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: row;    
}

.row{
   
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form {
    
    width:100%  !important;
}
