.title {
    margin:auto;
    font-size: 30px;
    margin-top: 20px;
}

.row-container {
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    -webkit-text-stroke: 0.1rem black;
}
