.map {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start;
    flex-direction: column;

}

.title {
    margin:auto;
    font-size: 30px;
    margin-top: 20px;
}

.address {
    margin-left: 30px;
    padding: 10px;
    border-width: 2px;
    border-radius: 5px;
    border-color: red;
    border-style: dashed;
}

td {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
